.country-card {
	width: 100%;
	margin: 1rem ;
	padding: 2rem;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.12);
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.country-card:hover {
	transform: translateY(-5px);
	background: #FABADA;
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.35);
}

.country-card h1 {
	text-align: center;
	color: white;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
	max-width: 250px;
}

.country-card img {
	width: 100%;
	max-width: 250px;
	border-radius: 12px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
